a {
    text-decoration:none; 
    color: #000;
}

table, td {
    border: 1px solid;

}

th {
    background-color: #333;
    color: white;
}

form input{
    padding: 10px;
    width: 450px;
}

.line{
    text-decoration: line-through;
}

h1,form{
    text-align: center;
}

h1{
    color: #333;
}
button{
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}